{
  "singleQuote": true,
  "tabWidth": 2,
  "bracketSpacing": false,
  "trailingComma": "none",
  "arrowParens": "avoid",
  "jsxBracketSameLine": false,
  "printWidth": 120,
  "semi": true,
  "overrides": [
    {
      "files": ".prettierrc",
      "options": {
        "parser": "typescript"
      }
    }
  ]
}